.funding-text .title-box span {
	font-size: 15px;
	font-weight: 400;
}
.funding-text .title-box p {
	font-size: 16px;
}
.funding-text .about-company-text-two p {
	font-size: 18px;
	font-weight: 500;
	color: #111;
}
.funding-text .about-company-text-two ul li {
	line-height: 30px;
	font-size: 16px;
    color: #111;
}
.funding-text .about-company-text-two ul li strong{
    font-weight: 500;
}
